@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula mi vitae metus lobortis, non rutrum neque fringilla. Sed quis ligula quis nibh convallis lobortis. Proin suscipit dignissim sem, in dictum felis porttitor sodales. In varius nunc massa, finibus condimentum enim pulvinar quis. Ut tincidunt iaculis auctor. Sed in urna neque. Integer ultricies non neque eget volutpat. Nulla turpis ante, ullamcorper non scelerisque ac, tristique et arcu. Praesent suscipit maximus nisi mollis blandit. Aenean mauris metus, ornare id hendrerit et, volutpat ac enim. Sed ut elementum erat. Vestibulum nec sagittis neque. Suspendisse quis magna massa.

Curabitur sed justo tortor. Aliquam volutpat metus ac leo dapibus laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer porttitor non libero ac iaculis. Proin ut tortor ut lorem convallis iaculis. Integer condimentum interdum est, vehicula imperdiet urna interdum eu. Suspendisse pulvinar tristique congue. Duis hendrerit, lacus non mattis consectetur, nisl urna varius tortor, et auctor nibh justo at libero. Quisque rhoncus ligula sed mauris blandit dapibus. Etiam eget dolor velit. Integer sit amet vestibulum ex. Cras tristique, tellus a bibendum consectetur, nisi justo egestas nulla, ac volutpat diam leo ac lectus. Pellentesque tempor lacinia massa nec accumsan. Donec sollicitudin et lorem quis auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque dignissim justo a enim tempor, eget pulvinar tortor fringilla.

Morbi lectus dui, ornare porta placerat vel, imperdiet id purus. Aenean a mattis turpis. Nulla facilisi. Phasellus hendrerit orci eu ligula vulputate luctus. Nulla suscipit risus ac purus malesuada, in tempor nibh condimentum. Integer at ipsum eros. Praesent maximus neque at consequat finibus. Pellentesque viverra tellus eget fermentum eleifend.</p>
