@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">P:</abbr>
    (380)95-522-47-36
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:antonvykhlo@gmail.com">antonvykhlo@gmail.com</a><br />
</address>