@model noBugsEx.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Default accounts:</h4>
<hr />

        <div>
            <p>
                Login: Admin@gmail.com <br />
                Password: Admin1. <br /><br />
                Login: Client@gmail.com<br />
                Password: Client1. <br /><br />
                Login: User@gmail.com<br />
                Password: User1. <br /><br />
                Login: Moderator@gmail.com<br />
                Password: Moderator1. <br />
            </p>
        </div>
